# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries by Data Scientists.
- List development environment open source tools used in data science.
- Demonstrate a few examples of evaluating arithmatic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries by Data Scientists include:
1. Numpy
2. Pandas
3. Tensorflow
4. Keras

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| R Studio |
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Srimit Sritik Das